# Pierre's specific
OTHER/
**/.DS_Store
**/.ipynb_checkpoints

# data/
data/all_IMPACT_mutations_180508.txt
data/cleaned_IMPACT_mutations_180508.txt
data/key.txt

# data/annotate_with_click_annotvcf
data/annotate_with_click_annotvcf/all_IMPACT_mutations_180508.vcf
data/annotate_with_click_annotvcf/click_annotvcf_IMPACT_mutations_180508.txt
data/annotate_with_click_annotvcf/job_output.txt

# data/annotate_with_oncokb
data/annotate_with_oncokb/oncokb_annotated_cleaned_IMPACT_mutations_180508.txt

# data/dominik
data/dominik/all_IMPACT_mutations_180508.simple.hg19_multianno.txt

# data/other_databases
data/other_databases/CIViC_01-Jul-2018-VariantSummaries.tsv
data/other_databases/CGI_catalog_of_validated_oncogenic_mutations.tsv
data/other_databases/allAnnotatedVariants.txt
data/other_databases/PMK_IPM_Knowledgebase_Interpretations_Complete_20180807-1922.xlsx
data/other_databases/DoCM_variants.tsv

# analysis/description/synonymous_study/synonymous_mutations_analysis_extra
analysis/description/synonymous_study/synonymous_mutations_analysis_extra
! analysis/description/synonymous_study/synonymous_mutations_analysis_extra/get_samtools_and_IGV_snapshots.sh
! analysis/description/synonymous_study/synonymous_mutations_analysis_extra/list_irb12_245.txt

# temp
data/other_databases/cbioportal.txt